* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --whitesmoke: #f6f6f6;
}

main {
  width: 80vw;
  height: 60vh;
  margin-left: 10vw;
  background-color: var(--whitesmoke);
  margin-top: 10vh;
  display: flex;
}

.main-texto {
  width: 46%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 7%;
}

.main-imagen {
  width: 40%;
  height: 100%;
}

.main-imagen img {
  width: 100%;
  height: 100%;
}

main h1 {
  font-weight: 600;
  font-size: 2.5rem;
}

main h2 {
  font-weight: 300;
  padding: 2rem 0;
}

main button {
  width: 15rem;
  border: none;
  font-size: 1.3rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: var(--whitesmoke);
  background-color: black;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

main button:hover {
  background-color: rgb(65, 65, 65);
}

main button::after {
  content: ">";
  margin-left: 1rem;
}

/*Articulos*/

.articulos {
  width: 80vw;
  display: flex;
  margin: 5rem 10vw;
  justify-content: space-between;
}

article {
  width: 23vw;
  height: 30rem;
  background-color: var(--whitesmoke);
  cursor: pointer;
  transition: 0.5s;
}

article img {
  width: 100%;
  height: 55%;
}

article h2 {
  text-align: center;
  padding: 1.5rem;
}

article p {
  font-size: 1.2rem;
  text-align: center;
  padding: 0 1.5rem;
}

article:hover {
  background-color: rgb(228, 228, 228);
}

/*Paginas*/

.articulo-titulo {
  text-align: center;
  margin: 3rem 7rem;
  font-size: 3rem;
}

.articulo-subtitulo {
  text-align: justify;
  margin: 1rem 7rem;
  font-size: 2.5rem;
  color: rgb(104, 104, 104);
}

.articulo-parrafo {
  font-size: 2.2rem;
  text-align: justify;
  margin: 7rem;
}
